/* Navigasi */
header {
    z-index: 1;
    width: 20rem; 
    height: 100%;
    background-color: rgba(241,195,195, .8);
    position: fixed;
    top: 0;
    left: -20rem; 
    transition: left 0.3s;
}   

nav {
    margin-top: 2vh;
    width: 100%;
}

nav p{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    text-decoration: underline;
}   

nav ul {
    padding: 0;
}

nav ul li {
    padding: 1rem  1.8rem;
    margin: 0;
    list-style-position: inside;
    list-style-image: url(../../assets/icon/chevron-right.png);
}

nav ul li a {
    height: 100%;
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
}

nav ul li:hover{
    text-shadow: 2px 2px 4px grey;
    background-color: rgba(232,75,108, .3);
    border-right-style: solid;
    border-width: 4px;
}

nav ul li a:hover {
    font-weight: 700;
}

#btn-nav {
    width: 90px;
    margin: 10px 0 0 10px;
    padding: 10px;
    display: flex;
    color: black;
    font-weight: 800;
    background-color: rgba(255,255,255,.5);
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#btn-nav img{
    margin: 0 5px;
}

/* btn DarkMode */
.switch {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 1.5rem;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(241,195,195);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(241,195,195);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }